# Ejercicio 1: Transformar cadenas
Hay varias operaciones que puedes realizar en las cadenas cuando las manipulamos. En este ejercicio, usarás métodos de cadena para modificar el texto con hechos sobre la Luna y luego extraerás información para crear un breve resumen.

> **Nota**
> Dedica unos minutos a tratar de encontrar una solución. Luego desplázate hacia abajo hasta la parte inferior para ver si has logrado compilar el programa de acuerdo con las especificaciones.

El texto con el que trabajarás es el siguiente:

In [69]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

Primero, divide el texto en cada oración para trabajar con su contenido:

In [122]:
# Añade el código necesario
text_parts= """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""
text_parts .split('. ')
text_parts

"Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. \nOn average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."

Ahora, define algunas palabras clave para búsqueda que te ayudarán a determinar si una oración contiene un hecho.

In [123]:
# Define las palabras pista: average, temperature y distance suenan bien
key_word = ["average", "temperature", "distance"]

Cre un bucle para imprimir solo datos sobre la Luna que estén relacionados con las palabras clave definidas anteriormente:

In [127]:
# Ciclo for para recorrer la cadena
for sentence in text_parts:
    for key_word in key_words:
        if key_word in sentence:
            print(sentence)
            break

Finalmente, actualiza el bucle(ciclo) para cambiar _C_ a _Celsius_:

In [126]:
# Ciclo para cambiar C a Celsius
"Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. \nOn average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C.".replace('Celsius','C')

"Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. \nOn average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."

> Recuerda: Lo importante es intentarlo, puedes auxiliarte de internet, libros, etc. El objetivo de una kata es la comprobación de la comprensión de la lección y su aplicación inmediata a la resolución de problemas. Go for it!

# Ejercicio 2: Formateando Cadenas

Saber cómo dar formato a las cadenas es esencial cuando se presenta información de un programa. Hay algunas maneras diferentes de lograr esto en Python. En este ejercicio, se utilizan variables que contienen datos clave sobre la gravedad en varias lunas y luego se utilizan para dar formato e imprimir la información.

El formato tiene que acomodar información sobre otras lunas, por lo que debe ser genérico.

En lugar de reemplazar las variables en una cadena larga como parte de un párrafo, utiliza la información para presentarla en un formato tabular. El resultado debería verse así:

```
Gravity Facts about Ganymede
-------------------------------------------------------------------------------
Planet Name: Mars
Gravity on Ganymede: 1.4300000000000002 m/s2
```

In [76]:
# Datos con los que vas a trabajar
name = "Ganymede"
gravity = 0.00143 # in kms
planet = "Mars"

Primero, crea un título para el texto. Debido a que este texto trata sobre la gravedad en la Tierra y la Luna, úsalo para crear un título significativo. Utiliza las variables en lugar de escribir.

In [94]:
# Creamos el título
title= f'gravity facts about {name}'

Ahora crea una plantilla de cadena multilínea para contener el resto de la información. En lugar de usar kilómetros, debes convertir la distancia a metros multiplicando por 1,000.

In [95]:
# Creamos la plantilla
resto_de_la_informacion = f"""{'-'*80} 
Nombre del planeta: {planet} 
Gravedad en {name}: {gravity * 1000} m/s2 
"""

Finalmente, usa ambas variables para unir el título y los hechos.

In [96]:
# Unión de ambas cadenas
union = f"""{title.title()}
{resto_de_la_informacion}
"""
print(resto_de_la_informacion)

--------------------------------------------------------------------------------
Nombre del planeta: Ganymede
Gravedad en Mars: 1.4300000000000002 m/s2

Ahora usa información de una luna diferente para ver si la plantilla todavía funciona.

Datos muestra: 
```
planet = 'Marte '
gravity  = 0.00143
name = 'Ganímedes'
```

In [98]:
# Comprueba la plantilla
print(resto_de_la_informacion)

--------------------------------------------------------------------------------
Nombre del planeta: Ganymede
Gravedad en Mars: 1.4300000000000002 m/s2

La salida no muestra información sobre Marte. Todavía muestra información sobre la Luna. Esto sucede porque las cadenas f están ansiosas en su evaluación, por lo que las variables una vez asignadas no se pueden reasignar. Para evitar este problema, vuelva a hacer la plantilla para utilizar .format():

In [106]:
# Nueva plantilla
new_template = """
Datos de Gravedad sobre: {name}
-------------------------------------------------------------------------------
Nombre del planeta: {planet}
Gravedad en {name}: {gravity} m/s2
"""
print(new_template.format(name=name, planet=planet, gravity=gravity))

Datos de Gravedad sobre: Mars
-------------------------------------------------------------------------------
Nombre del planeta: Ganymede
Gravedad en Mars: 0.00143 m/s2

Debido a que .format() no permite expresiones, la gravedad en Ganímedes es incorrecta. Asegúrese de que la operación se realiza fuera de la plantilla de formato e imprima de nuevo para ver el resultado de trabajo.

In [108]:
# Pista: print(nueva_plantilla.format(variables))
print(new_template.format(name=name, planet=planet, gravity=gravity*1000))

Datos de Gravedad sobre: Mars
-------------------------------------------------------------------------------
Nombre del planeta: Ganymede
Gravedad en Mars: 1.4300000000000002 m/s2

INTRODUCTION EXAMPLES

In [ ]:
fact = 'The Moon has no atmosphere.'
fact + 'No sound can be heard on the Moon.'

In [ ]:
fact

In [ ]:
two_facts = fact + 'No sound can be heard on the Moon.'
two_facts

In [ ]:
moon_radius = "The Moon has a radius of 1,080 miles"

In [ ]:
'The "near side" is the part of the Moon that faces the Earth'

In [ ]:
'We only see about 60% of the Moon's surface'

In [ ]:
multiline = "Facts about the Moon:\n There is no atmosphere.\n There is no sound."
print(multiline)

In [ ]:
multiline = """Facts about the Moon:
...  There is no atmosphere.
...  There is no sound."""
print(multiline)

In [ ]:
'temperatures and facts about the moon'.title()

In [ ]:
heading = 'temperatures and facts about the moon'
heading.title()

In [ ]:
temperatures = '''Daylight: 260 F
... Nighttime: -280 F'''
temperatures .split()

In [ ]:
temperatures .split('\n')

In [ ]:
'Moon' in 'This text will describe facts and challenges with space travel'

In [ ]:
'Moon' in 'This text will describe facts about the Moon'

In [ ]:
temperatures = """Saturn has a daytime temperature of -170 degrees Celsius,
... while Mars has -28 Celsius."""
temperatures.find('Moon')
temperatures.find('Mars')

In [ ]:
temperatures.count('Mars')
temperatures.count('Moon')

In [ ]:
"The Moon And The Earth".lower()

In [ ]:
'The Moon And The Earth'.upper()

In [ ]:
temperatures = 'Mars Average Temperature: -60 C'
parts = temperatures.split(':')
parts
parts[-1]

In [ ]:
>>> mars_temperature = 'The highest temperature on Mars is about 30 C'

In [ ]:
for item in mars_temperature.split():
    if item.isnumeric():
        print(item)

In [ ]:
'-60'.startswith('-')

In [ ]:
if "30 C".endswith("C"):
    print("This temperature is in Celsius")

In [ ]:
'Saturn has a daytime temperature of -170 degrees Celsius, while Mars has -28 Celsius.'.replace('Celsius', 'C')

In [ ]:
moon_facts = ['The Moon is drifting away from the Earth.', 'On average, the Moon is moving about 4cm every year']
'\n'.join(moon_facts)

In [ ]:
mass_percentage = '1/6'
print('On the Moon, you would weigh about %s of your weight on Earth' % mass_percentage)

In [ ]:
print("""Both sides of the %s get the same amount of sunlight,
    but only one side is seen from %s because
    the %s rotates around its own axis when it orbits %s.""" % ('Moon', 'Earth', 'Moon', 'Earth'))

In [ ]:
print("""You are lighter on the {0}, because on the {0} 
... you would weigh about {1} of your weight on Earth""".format("Moon", mass_percentage))

In [ ]:
print(f'On the Moon, you would weigh about {mass_percentage} of your weight on Earth')